## School of AI - São Paulo

Esse jupyter notebook tem por objetivo estudar a base de dados [Iris](https://archive.ics.uci.edu/ml/datasets/iris).

Um exemplo de análise desses dados por ser visto [aqui](https://machinelearningmastery.com/machine-learning-in-python-step-by-step/).

In [8]:
import pandas as pd

data_path = "data/iris.csv"

names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pd.read_csv(data_path, names=names)

dataset.head(10)

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa